.DS_Store
node_modules
.sass-cache/
.grunt
.idea/
*.log
.idea/workspace.xml
.idea/*
config/db-secret.js
public/assets/css/generated/
*.swp
/nbproject/private/
bower_components
public/bower_components
nbproject
*.min.*
public/index.html
results.txt
_SpecRunner.html
server/assets/emailTemplates/tests
