<div class="panel map-panel">
    <div class="spinner-wrapper" ng-show="treemapLoading"></div>
    <div class="clear-loading spinner" ng-show="treemapLoading">
      <span></span>
      <span></span>
      <span></span>
    </div>
    <div class="panel-heading map-header">
        <div class="panel-title people-panel-title" ng-if="opHistory.length > 0">
            <span class="glyphicon glyphicon-menu-left back-arrow" go-back></span>
            <span class="back-msg" go-back>
               {{back}}
            </span>
            <span class="people-name">|</span>
            <span ng-if="currentView.name === 'Project Detail' || currentView.name === 'Profile Project Detail'">
                {{currentProject}}
            </span>
            <span ng-if="currentView.name !== 'Project Detail' && currentView.name !== 'Profile Project Detail'">
                {{currentView.name}}
            </span>
        </div>
        <div class="panel-title people-panel-title" ng-if="opHistory.length === 0">
            <span ng-if="currentView.name === 'Project Detail' || currentView.name === 'Profile Project Detail'">
                {{currentProject}}
            </span>
            <span ng-if="currentView.name !== 'Project Detail' && currentView.name !== 'Profile Project Detail'">
                {{currentView.name}}
            </span>
        </div>
        <div class="icon-wrapper col-md-7">  <!-- style="position:absolute;right:100%;font-size: 1rem;" -->
            <div ng-if="projects.length > 0 || fromProfile" class="to-show">
                <p for="filterRange" class="filter-label">Filter:</p>
                <div class="filter-projects-td">
                    <div class="item item-input">
                        <input class="filter-search" id="filterRange" type="text" ng-model="selectedRange.name" ng-click="getFilters()" readonly click-off>
                        <i class="icon ion-arrow-down-b placeholder-icon"></i>
                    </div>

                    <div class="search-filter-result angular-animate filter-result search-result-range-item" style="display: none;">
                        <ul class="container-fluid" style="width: 100%;">
                            <li ng-repeat="f in filters" ng-click="changeFilter(f.value)">
                                <span class="filter-name">{{f.name}}</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <span class="ion-android-list" style="float:right;margin-right: 10px" ng-click="goToProjectList()"></span>
            <a class="expand-contract" ng-class="{'ion-android-expand': !isFullSize, 'ion-android-contract': isFullSize}" aria-hidden="true" ng-click="setFullSize()"></a>
        </div>
    </div>
    <div ng-if="projects.length == 0" class="no-records">
        No Projects
    </div>
    <!--Tree Map-->
    <div class="panel-body map-body tree-body" tree-map ng-if="!fromProfile">
        <div class="project-details angular-animate animate-show-hide" ui-view="detailView" ng-show="isProjectDetailView">

        </div>
    </div>
    <!-- this is the project details page that will be used when navigated from profile details -->
    <div class="panel-body map-body tree-body prof-detail" style="background-color: {{randColor}}" ng-if="fromProfile">
        <div class="project-details angular-animate animate-show-hide" ui-view="detailView">
        </div>
    </div>
</div>
