{
  "root": true,
  "extends": "airbnb/legacy",
  "globals": {
    "ResrcUtilApp": true,
    "moment": true,
    "angular": true,
    "$": true
  },
  "rules": {
    "no-use-before-define": [2, {"functions": false}],
    "func-names": 0
  }
}
